<div class="small-12 medium-9 vertical grid-block">
    <div class="grid-content">
        <h1>
            Établissement
        </h1>

        <input type="text" placeholder="Nom de l'établissement" ng-model="etablissement.nom">

        <div class="grid-block">
            <div class="grid-content small-12 medium-6">
                <label>
                    Courriel
                    <input type="email" ng-model="etablissement.courriel" placeholder="Courriel">
                </label>
            </div>
            <div class="grid-content small-12 medium-6">
                <label>
                    Coordonnées
                    <input type="text" ng-model="etablissement.coordonnees" placeholder="Coordonnées">
                </label>
            </div>
        </div>

        <h2>Répondants</h2>

        <div class="grid-block">
            <div class="grid-content small-12 medium-6">
                <ul>
                    <li ng-repeat="repondant in etablissement.repondants">
                        {{repondant.nom}},
                        <a href="mailto:{{repondant.courriel}}">{{repondant.courriel}}</a>,
                        {{repondant.telephone}}.
                    </li>
                </ul>
                <small ng-show="etablissement.repondants.lenght == 0">Il n'y a pas de répondant.</small>
                {{etablissement.repondants.lenght}}
            </div>
        </div>

        <div ng-show="etablissement.type == 'Établissement d\'enseignement'">
            <h2>
                Établissement d'enseignement
            </h2>

            <div class="grid-block">
                <div class="grid-content small-12 medium-6">
                    <label>
                        Commission scolaire</label>
                    <select>
                        <option ng-repeat="etablissement in etablissements" value="etablissement.id">
                            {{etablissement.nom}}
                        </option>
                    </select>


                </div>
                <div class="grid-content small-12 medium-6">
                    <label>
                        Commission scolaire</label>
                    <select ng-model="etablissement.codeEthnique" convert-to-number>
                        <option value="CN">Chine</option>
                        <option value="US">États-Unis</option>
                        <option value="EU">Europe</option>
                    </select>
                </div>
            </div>
        </div>


        <h2>Notes</h2>

        <div class="grid-block">
            <div class="grid-content small-12">
                <label>
                    Ajouter une note
                    <span class="inline-label">
                        <span>
                            <select ng-model="newNote.type">
                                <option value="general">Générale</option>
                                <option value="important">Important</option>
                                <option value="todo">TODO</option>
                            </select>
                        </span>
                        <input type="text" placeholder="Ajouter une note" ng-model="newNote.texte" ng-enter="ajouterNote()">
                        <span>
                             <button type="button" class="button" ng-click="ajouterNote()">+</button>
                        </span>

                    </span>
                </label>

                <div ng-class="{ 'note-todo-done': note.done}" ng-repeat="note in etablissement.notes | orderBy : '-date'">
                    [ {{note.type}} {{note.auteur}}@{{note.date | cmdate:'dd-MM-yyyy hh:mm:ss' }}] - {{note.texte}}
                     <span ng-show="note.type=='todo'">
                        <a class="" ng-click="note.done = !note.done">Done</a>
                    </span>
                </div>


            </div>
        </div>
        <hr/>
        <div class="grid-block small-12 text-right">
            <div class="grid-content small-12">
                <button class="button warning float-left" zf-open="confirmerDelete">Supprimer</button>
                <button class="button secondary" ng-click="modifier()">Sauvegarder</button>
                <a class="button" ui-sref="banque-savoirs">Retour</a>
            </div>
        </div>
    </div>

</div>

<div zf-modal id="confirmerDelete">
    <h4>Vraiment supprimer «{{etablissement.nom}}» ?</h4>
    <a class="alert button" ng-click="supprimer(etablissement._id)">Oui</a>
    <a zf-close class="secondary button">Non</a>
</div>