<div class="grid-block align-center">
    <div class="small-12 medium-9 grid-content">
        <h1>Banque de savoirs</h1>

        <section class="block-list">
            <header>Liste des personnes ressources</header>
            <ul>
                <li ng-repeat="personne in personnes">
                    <a ng-click="setPersonne(personne)" zf-open="animatedModal">{{personne.nom}},
                        {{personne.prenom}}
                        -
                        {{personne.courriel}}
                    </a>
                </li>
            </ul>
        </section>

        <a ui-sref="banque-savoirs" class=" button float-right">Retour à la liste</a>
    </div>
</div>

<div zf-modal="" id="animatedModal">
    <div class="grid-block vertical">
        <div class="primary title-bar">
            <span class="left">
                <img zf-iconic="" icon="person" size="small" class="iconic-color-secondary">
            </span>

            <div class="center title">{{currentPersonne.prenom}} {{currentPersonne.nom}}</div>
            <span class="right"><a zf-close class="close-button">x</a></span>
        </div>
        <div class="grid-content padding" style="padding-top: 1rem;">
            <div class="grid-block">
                <div class="small-12 medium-6 grid-content">
                    <label>
                        Prénom
                        <input type="text" placeholder="Le prénom du contact" ng-model="currentPersonne.prenom">
                    </label>
                </div>
                <div class="small-12 medium-6 grid-content">
                    <label>
                        Nom
                        <input type="text" placeholder="Le nom du contact" ng-model="currentPersonne.nom">
                    </label>
                </div>
            </div>
            <a class="button" ng-click="test()">OK</a>
            <a zf-close class="button">Cancel</a>
            <button zf-close class="warning button float-right">
                <img zf-iconic="" icon="circle-x" size="small" class="iconic-color-alert">
                Supprimer
            </button>
        </div>
    </div>
</div>